* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* CSS to style the iframe */
iframe {
    max-width: 1800px;
    width: 100%;
    height: 900px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/*Developer par EL_MEHDI_SAA @ 2024 */